html {overflow-y: scroll}
:root { 
    --bgcolor: #153248; 
    --fontcolor: #aaa; 
    --linkcolor: #ffaa00; 
    --hovercolor: #ffff77; 
    --visitedcolor: #ff8844; 
    --precolor: #fff; 
    --prebgcolor: #000; 
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 

    --primary-size: 1.2rem;
    --title-size: 1.5rem;
    --big-title-size: 2rem;
    --secondary-size: 1rem;
}
header{
	font-family: monospace;
}
.title_banner{ display: flex; }
.subtitle_block{ font-size:12px; flex: 90%; position: relative;}
.subtitle{ bottom: 0; right: 0; position: absolute; }
.header_block{ flex: 40%; font-size: var(--primary-size); }
.menu { font-size: var(--primary-size); }
.menu_text{ display: flex; }
body{
	max-width:1000px;
	counter-reset: h2counter;
	margin:40px auto;
	padding:0 10px;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: var(--primary-size);
	font-weight:400;
	line-height:1.5;	
	color:var(--fontcolor); 
	background: var(--bgcolor)
}
table {
  border: 1px solid;
  width: 100%;
}
a:link{color: var(--linkcolor);text-decoration: none;}
a:hover{color: var(--hovercolor);text-decoration: none;}
a:visited{color: var(--visitedcolor);text-decoration: none;}
a:active{color: var(--visitedcolor);text-decoration: none;}
h1,h2,h3{line-height:1.2}
h1 {
	counter-reset: h2counter;
}
h2:before {
	content: counter(h2counter) ".\0000a0\0000a0";
	counter-increment: h2counter;
	counter-reset: h3counter;
}
h3:before {
	content: counter(h2counter) "." counter(h3counter);
	counter-increment: h3counter;
}
p > code{color: var(--precolor); background: var(--prebgcolor); padding:2px}
pre{color: var(--precolor); background: var(--prebgcolor); padding:24px; overflow-x: auto}
article{padding:24px 0}
.center {display: block;margin-left: auto;margin-right: auto;width: 100%;}
.title_banner {margin-top: 20px}
.menu_text {margin-left: 50px}
figcaption {color: #888; font: 12px/1.5 monospace; text-align: center;}
figure {margin: auto}
img {display: block; max-width: 100%; height: auto; margin: auto}

h1 {
  font-size: var(--big-title-size);
}

h2 {
  font-size: var(--title-size);
}
.anchoricon {
  fill: var(--linkcolor);
}
